apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-5ob8
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/happy-path-service-tenant/appstudio/dc-metro-map-5ob8@sha256:dc0290701959f5fafd3f4ff431a84c8d257a1423197c8026b337b95129644e2e
        name: my-nodejs
        resources: {}
status: {}
